#terminal {
    display: grid;
    grid-template-rows: repeat(25, 1rem);
    grid-template-columns: repeat(80, 1rem);
    margin: 2rem;
    border: thin solid black;
    border-radius: 0.5rem;
    align-items: center;
    justify-items: center;
    background-color: bisque;
    color: teal;
}

#terminal > div {
    font-family: "Lucida Sans Unicode", monospace;
    background-color: bisque;
}